# systemd service for thingy52mqtt script
#
# watch log with
# sudo journalctl -f -u thingy52mqtt.service

[Unit]
Description=Thingy52 MQTT Publisher
After=multi-user.target

[Service]
WrorkingDirectory=/home/pi/
User=pi
Type=simple
ExecStart=/usr/bin/python3 /home/pi/thingy52_mqtt/thingy52mqtt.py EA:B1:F4:E0:5C:B4 --gas --temp>
Restart=on-abort

[Install]
WantedBy=multi-user.target